*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif; 
}

html,body{
    background-color: white;
    color: black;
}

header {
    display: grid;
    background-color:#315a7d;
    color: white;
    font-size: 20px;
    margin: 0 auto;
}

.title {
    color: white;
}

.hamburger {
    background: none;
    border: none;
    color: wheat;
    font-size: 2rem;
}

nav{
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #004274;
    position: relative;
    height: 70px;
}

nav ul{
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

.menu-icon{
    display: none;
}
nav a:hover {
    background-color:white;
    border-radius: 5px;
    color: black;
    padding: 10px;
}


menuList::before {
    content:"☰" ;
}

#menu.open::before {
    content: "❌";
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    gap: 1rem;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
}

h2 {
    grid-column: 1 / -1;
    text-align: center;
    padding-bottom: 10px;
}

figure {
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
}

figure img {
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 5px;
}

figcaption {
    font-family: Roboto, sans-serif ;
    font-weight: 500;
    margin-top: 0.8rem;
    font-size: 1.1rem;
}

footer {
    background-color: #004274;
    color: white;
    text-align: center;
    padding: 1rem;
    font-family:Roboto, sans-serif ; ;
}

footer p {
    margin: 0.4rem;
}

#lastModified {
    color: #ffd700;
}