@media (max-width: 600px) {

    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #004274;
        gap: 0;

        display: none;
    }

    nav ul li {
        padding: 20px;
    }

    #menuButton {
        display: block;
        background: none;
        border: none;
        color: white;
        font-size: 2rem;
        cursor: pointer;
    }

    nav.open ul {
        display: flex;
    }
}